<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="KeepYoungerEE" version="2.5">

    <display-name>keep-younger-ee</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- init handler mapping -->
    <context-param>
        <param-name>MethodHandlerMapping</param-name>
        <param-value>com.mao.servlet.handler.HttpMethodHandlerMapping</param-value>
    </context-param>
    <context-param>
        <param-name>PacketScan</param-name>
        <param-value>com.mao</param-value>
    </context-param>

    <!-- servlet -->
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>com.mao.servlet.GlobalServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>*.mao</url-pattern>
    </servlet-mapping>

    <!-- encoding filter -->
    <!--<filter>
        <filter-name>EncodeFilter</filter-name>
        <filter-class>com.mao.filter.EncodeFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->

</web-app>